<form action="">

  <input type="checkbox" name="" id="c1">
  <input type="checkbox" name="" id="c2">
  <input type="checkbox" name="" id="c3">
  <input type="checkbox" name="" id="c4">
  <input type="checkbox" name="" id="c5">
  <input type="checkbox" name="" id="c6">
  <input type="checkbox" name="" id="c7">
  <input type="checkbox" name="" id="c8">
  <input type="color" name="color" id="color">
  <input type="color" name="color" id="color2">
  <input type="color" name="color" id="color3">
  <input type="date" name="date" id="date1">
  <input type="date" name="date" id="date2">
  <input type="date" name="date" id="date3">
  <input type="date" name="date" id="date4">
  <input type="date" name="date" id="date5">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">
  <input type="button" value="">

</form>


